@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");
*{
  background-color: #c8b8d6;
  font-family: 'Poppins' sans-serif;
}
header{
  position: fixed;
  justify-content: space-between;
  display: flex;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1 rem 9%;
  margin-top: 20px;
  align-items: center;
  
}

body {
  overflow-x: hidden;
}
  

.content{
  border: 50px solid #ffe2f5;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  box-radius: 40px;
  
}

